@using StokTakip.Entities

@{
    ViewBag.Title = "Index";
}

<br /><br />

<a href="/Home/UrunEkle">Ürün Ekle</a>
<br /><br />
<a href="/Home/KategoriEkle">Kategori Ekle</a>
<br /><br />

<a href="/Home/Stoklar">Stoklar</a>
<br /><br />

<a href="/Home/SatisYap">Satış Yap</a>
<br /><br />



