@using StokTakip.Entities.ViewModels
@model CategoryViewModel
@{
    ViewBag.Title = "KategoriEkle";
}

<h2>Kategori Ekle</h2>

@using (Html.BeginForm())
{
    <form role="form">
        <fieldset>


            <div class="form-group">
                @Html.TextBoxFor(Model => Model.kategori.KategoriAdi, new { @class = "form-control input-lg", placeholder = "Kategori Adı" })

            </div>


            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Kaydet">
                </div>

            </div>
        </fieldset>
    </form>

    
}

<br /><br />

    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Kategori Adı</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.kategoriler)
            {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.KategoriAdi</td>
                <td><a href="/Home/KategoriDuzenle/@item.Id">Düzenle</a></td>
                <td><a href="/Home/KategoriSil/@item.Id">Sil</a></td>
            </tr>
            }


        </tbody>
    </table>

